@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700")

body {
  background-color: #87F1FF;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: #87F1FF;
}

h1 {
  color: #87F1FF;
  font-size: 40px;
}

h2 {
  color: #CAFFD0;
  font-weight: bolder;
}

a, p {
  font-family: 'Roboto';
  color: #87F1FF;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.img-circle {
  width: 350px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;
  margin: 0 auto;
}

.btn-blue {
  background-color: #6F2DBD;
  color: white;
  padding: 12px 20px;
  display: inline-block;
  margin-top: 16px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: #CAFFD0;
}

.card {
  background-color: #191308;
  width: 600px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.social-icon {
  font-size: 40px;
  margin: 0 10px;
  color: #6b72e1;
}

.social-icon:hover {
  color: black;
}
